{% extends 'base.html'%}
{% block content%}
{{block.super}}
 <div class="container">

     <h4 class= "pt-5 text-center">Here are {{images | length}} images for your {{message}} category search ;</h4>

       <h1 class="text-center pt-5 nunito display-4" id="gallery">{{message}}</h1>
    
  <div class="row">
    
    {% for image in images %}
    <div class="col-md-3">
      <div class="card mt-5 ml-3 mr-3"  id="card" style="width: 18rem;">
        <img class="card-img-top" src="{{image.image.url}}" height="150px" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{image.image_name}}</h5>
              <!-- Button trigger modal --> 
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{image.id}}">
               View 
               {{image.image_name}}
            </button>
        </div>
      </div>
    </div>

     <!-- FOR MODAL -->

<!-- Modal -->
<div class="modal fade" id="exampleModal{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{image.image_name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class=" text-center modal-body">
        <img  class= "img-fluid" height = "400px"src="{{image.image.url}}" alt="">
       
        <h4 class="pt-3">Image description</h4><br>
        <p>{{image.image_description}}</p>
        <h4 >Image Category</h4><br>
        <p>{{image.category}}</p>
        <h4 >Image Location</h4><br>
        <p>{{image.location}}</p>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
 </div>   

</div>
{% include 'footer.html' %}
{% endblock %}


